.entry
  position relative
  left 32px
  // ~ Golden ratio:
  line-height 1.62
  .bullet
    position absolute
    transform translate(-18px, 0px)
    &:before
      content '•'
  .line
    position absolute
    background rgba(#a9a9a9, 0.3)
    transform translate(-14px, 18px)
    height calc(100% - 24px)
    width 1px
  .collapse-expand-btn
    cursor pointer
    position absolute
    left -42px
    color rgba(73, 78, 107, 0.7)
    i
      position absolute
      transform translate(5px, -7.5px)
      font-size 26px
      &:hover
        // color rgba(238, 182, 183, 0.7)
        color rgba($notice, 0.7)
  .entry-text
    //
  .note
    height 16px
    font-size 12px
    color $smoke
    opacity 0.8
    position relative
    top -4px
