.entry
  position relative
  left 32px
  line-height 1.48
  &:before
    content "•"
    margin-right 8px
    user-select none
  .line
    position absolute
    background repeating-linear-gradient(
      0deg,
      #a9a9a9,
      #a9a9a9 2px,
      #f5f5f7 1px,
      #f5f5f7 4px
    )
    opacity 0.5
    transform translate(-13px, 18px)
    height calc(100% - 24px)
    width 1px
  .collapse-expand-btn
    cursor pointer
    position absolute
    left -24px
    color $storm
    i
      position relative
      top 1px
      left 6px
      font-size 16px
      &:hover
        color $blush
  .note
    height 16px
    font-size 12px
    color $smoke
    opacity 0.8
    position relative
    top -4px
