.entry
  position relative
  left 18px
  margin-bottom 4px
  &.hide
    display none
    height 0px
  .collapse-expand-btn
    cursor pointer
    position absolute
    left -36px
    color $evening
    i
      position relative
      top 1px
      &:hover
        color $powderBlue
  .note
    height 16px
    font-size 12px
    color $smoke
    opacity 0.8
    position relative
    top -4px
