.collapse-expand-btn
  cursor pointer
  position absolute
  transform translate(-33px, 7px)
  .arrow
    width 0px
    height 0px
    border-top 7px solid transparent
    border-bottom 7px solid transparent
    border-left 7px solid rgba(73, 78, 107, 0.35)
    transform-origin 40% 50%
    &:hover
      border-left 7px solid rgba($codeText, 0.7)
