// Lato
@font-face
  font-family 'Lato Thin'
  font-weight 200
  src url('../fonts/lato/lato-thin.woff2')

@font-face
  font-family 'Lato Light'
  font-weight 300
  src url('../fonts/lato/lato-light.woff2')

// Operator
@font-face
  font-family 'Operator Mono XLight Italic'
  src url('../fonts/operator/operator-mono-xlight-italic.woff2')

@font-face
  font-family 'Operator Screen Italic'
  src url('../fonts/operator/operator-screen-italic.woff')

// Brandon Grotesque
@font-face
  font-family 'Brandon Lte'
  src url('../fonts/brandon/brandon-light.woff2')

@font-face
  font-family 'Brandon Reg'
  src url('../fonts/brandon/brandon-regular.woff2')

@font-face
  font-family 'Brandon Med'
  src url('../fonts/brandon/brandon-medium.woff2')

@font-face
  font-family 'Brandon Bld'
  src url('../fonts/brandon/brandon-bold.woff2')

// Brandon Grotesque Italic
@font-face
  font-family 'Brandon Lte It'
  src url('../fonts/brandon/brandon-light-italic.woff2')

@font-face
  font-family 'Brandon Reg It'
  src url('../fonts/brandon/brandon-regular-italic.woff2')

@font-face
  font-family 'Brandon Med It'
  src url('../fonts/brandon/brandon-medium-italic.woff2')

@font-face
  font-family 'Brandon Bld It'
  src url('../fonts/brandon/brandon-bold-italic.woff2')
