*
  margin 0px
  padding 0px

html, body
  color $storm
  background $bg
  font-family 'Lato Light'
  outline 0px
  overflow hidden

h1, h2, h3, h4, h5, h6
  margin 0px
  padding 0px

a
  &:active, &:hover, &:link, &:visited
    color inherit
    text-decoration none

button
  border none
  cursor pointer

p
  display inline

ul
  padding-left 0px

li
  list-style-type none
  text-align left

input
  height 40px
  padding 0px 16px
  margin-bottom 8px
  font-size 16px

:focus
  outline none

@keyframes autofill
  to {
    color $storm
    background transparent
  }

input:-webkit-autofill
  -webkit-animation-name autofill
  -webkit-animation-fill-mode both
