.app
  .line-numbers
    position absolute
    top 112px
    width 40px
    color $dust
    font-family 'Operator Mono XLight'
    font-size 16px
    margin-left 8px
    margin-top 1px
    user-select none
    text-align right
    z-index 7
    .num
      height 19px
      margin-bottom 4px
