.app
  position absolute
  top 0px
  bottom 0px
  left 0px
  right 0px

.app-loading
  position absolute
  height 100vh
  width 100vw
  z-index 9999
  background $storm
  display flex
  align-items center
  justify-content center
