.header
  background $ebony
  color $ivory
  height 34px
  overflow hidden
  display flex
  align-items center
  justify-content space-between
  .links-left
    display flex
    align-items center
    .logo
      height 30px
      padding-left 6px
  .links-right
    display flex
    align-items center
    i
      font-size 28px
      padding 0px 8px
      border-left 1px solid $evening
      &.saving
        color $ivory
      &.saved
        color $leaf
