.header
  position fixed
  top 0px
  width 100vw
  background $ebony
  color $ivory
  height 48px
  line-height 48px
  overflow hidden
  display flex
  align-items center
  justify-content space-between
  user-select none
  box-shadow 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12),
    0 1px 8px 0 rgba(0, 0, 0, 0.2)
  z-index 8
  will-change transform
  .links-left
    display flex
    align-items center
    .logo
      color $logoBlue
      font-size 28px
      font-family 'Operator Mono XLight Italic'
      text-transform capitalize
      padding-left 6px
  .links-right
    display flex
    align-items center
    i.saving, i.saved
      height 48px
      font-size 24px
      width 44px
      text-align center
      border-left 1px solid rgba(25, 34, 49, 0.6)
      border-right 1px solid rgba(25, 34, 49, 0.6)
      &.saving
        color $ivory
      &.saved
        color $leaf
    & .header-element
      &.avatar
        width 46px
        height 48px
        text-align center
        cursor pointer
        letter-spacing 0.6px
        font-family 'Lato Thin'
      & .arrow-down
        padding-left 8px
        position relative
        top 2px
      & .ion-android-more-vertical
        color $cream
        font-size 24px
  .menu
    cursor pointer
    z-index 10
    position absolute
    top 56px
    right 8px
    width 168px
    background $ivory
    box-shadow rgba(0, 0, 0, 0.15) 0px 1px 6px,
      rgba(0, 0, 0, 0.15) 0px 1px 4px
    display none
    padding-bottom 4px
    .menu-item
      font-size 18px
      font-family 'Lato Regular'
      color $evening
      letter-spacing 0.6px
      font-variant small-caps
      height 34px
      padding 0px 16px
      line-height 34px
      transition all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
      &:hover
        background rgba(153, 206, 212, 0.6)
      i
        margin-right 8px
      &.disabled
        color $dust
        cursor not-allowed
        &:hover
          background $ivory
      &.divider
        background $dust
        height 1px
        margin 4px 0px
        opacity 0.6
    &.is-visible
      display block
  .screen
    position absolute
    top 0px
    right 0px
    bottom 0px
    left 0px
    z-index 9
    display none
    &.is-visible
      display block
