.login-container
  height 100vh
  display flex
  flex-direction column
  justify-content space-around
  .login-form
    padding 16px
    display flex
    flex-direction column
    width 360px
    max-width 360px
    margin 0 auto
    // Card
    color $storm
    background $ivory
    box-shadow rgba(0, 0, 0, 0.15) 0px 1px 6px,
      rgba(0, 0, 0, 0.15) 0px 1px 4px
    border-radius 3px
    h1
      margin 0px auto 8px
      text-transform capitalize
      font-family 'Operator Screen Italic'
    button
      height 40px
      font-size 16px
      color $ivory
      background $powderBlue
